*{
    margin: 0px;
    padding: 0px;
}
.nav{
    background-color: #BD5A5A; 
    height: 100px;
    width: 100%;
    display: flex;
    padding-left: 50px;
    align-items: center;
    color: white;
    font-size: 30px;
    font-weight: bolder;
    gap: 20px;
    box-shadow: 0px 5px 5.3px 0px rgba(0, 0, 0, 0.50);
}    
.nav svg{
    height: 90px;
    width: 50px;
    fill: white;
}
.form{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 20px 0px;
    flex-direction: row;
}
.form input,
#select_status{
    height: 30px;
    width: 170px;
    margin: 10px;
    padding-left: 15px ;
    font-size: 15px;
    border-radius: 25px;
    border: 2px solid;
}
.form #submit{
    height: 30px;
    width: 100px;
    padding-left: 5px;
    border-radius: 25px;
    background-color: #BD5A5A;
    color: white;
    font-weight: bolder;
    box-shadow: 2px black;
}
#table{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 30px;
}
thead{
    background-color: #BD5A5A;
}
thead th{
    border-right: 2px solid;
    padding: 5px;
}
