*{
    margin: 0px;
    padding: 0px;
}
.nav{
    background-color: #BD5A5A;
    height: 100px;
    width: 100%;
    display: flex;
    padding-left: 50px;
    align-items: center;
    color: white;
    font-size: 30px;
    font-weight: bolder;
    gap: 20px;
}    
.nav svg{
    height: 90px;
    width: 50px;
    fill: white;
}
.form{
    display: flex;
    justify-content: space-between;
    align-items: center;
}